﻿/*------------------------------------------------
Copyright © Microsoft Corporation. All rights reserved
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-------------------------------------------------*/

@media screen and (max-width: 600px){
    #content{
        color:blue;
    }
}

@media screen and (max-height: 600px){
    #content{
        background-color:#808080;
    }
}

body {
    background-image: url("../images/stucco/stucco.png");
    background-repeat: repeat;

}
#top
{
    background-color: #000000;
    width: 80%;
    padding: 15px;
    align-content:center;
    margin:auto;
    margin-top:-1%;
    text-align: right;
}
#top ul{
    list-style-type:none;
    position:relative;
    display:inline-table;
}
#top ul li{
    display:inline;
}
#top ul li a{
    color: #808080;
    text-decoration: none;
}
#top ul li ul{
    background:#000;
    position:absolute;
    top:100%;
    display:none;
}
#top ul li:hover > ul {
    display:block;
}
#top ul li:hover > ul li {
    display:block;
    position:relative;
    padding: 3px;
}
#top ul li ul li a{
    color:#808080;
    text-decoration:none;
    text-align:right;
}
#wrapper{
    margin-left: 8.8%;
    margin-right:8.8%;
}
header p{
    font-size:50px;
}
nav{
    background:#fff;
    padding:5px;
    border:1px solid #c7c4c4;
    
}
nav ul{
    list-style-type:none;
    position:relative;
    /*display:inline;*/
}
nav ul li{
    display:inline;
}
nav ul li a{
    color:#000;
    text-decoration: none;
    font-weight:bold;
    padding-right: 10px;
}
nav ul li a:hover{
    color:#e6e6e6;
}
#content{
    background-color:#fff;
    padding:10px;
    padding-top: 0;
    border:1px solid #c7c4c4;
    overflow:visible;
}
#hat{
    float: left;
}

#details{
    margin-top: 3%;
}
#red{
    color:red;
    font-weight:bold;
}
#button table {
    border:1px solid #c7c4c4;
    padding: 10px;
}

#button button{
    margin-left: 3%;
    padding:5px 35px 5px 35px;
    color:blue;
    font-weight:bold;

}

#deets table td{
    padding: 10px;
}
#deets table th{
    text-align:left;
}
#other {
    clear:left;
}
hr{
    border: 1px solid #c7c4c4;
}
.pictureBox{
    border: 1px solid #c7c4c4;
    padding: 5px;
    /*float: left;*/
    display:inline-block;
    margin: 1%;
}

footer{
    clear:both;
    background-color: #000000;
    width: 80%;
    padding: 5px;
    margin:auto;
    margin-bottom: 5%;
    margin-top: 1%;
    text-align: center;
    color: #808080;
}
#ok{
    background-color:#5b96e8;
}
.fff{
    font-weight:bold;
}